@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button{
    font-weight: bolder;
    transition: all ease 0.3s;
    min-width: 100px;
    padding:10px;
    border-radius: 5px;
    border-style: solid;
    color: black;
    background-color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.buttonLoading{
    font-weight: bolder;
    transition: all ease 0.3s;
    min-width: 100px;
    padding:10px;
    border-radius: 5px;
    border-style: solid;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.button:hover,
.buttonLoading:hover
{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
}

.buttonSpinner{
    margin-right: 4px;
    justify-self: 'center';
    align-self: center;
    animation: spin 0.5s linear infinite;
}


