.passwordDiv{
    min-width: 150px;
    width: fit-content;
    height: 15px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 10em;
    border:1px solid black;
    padding: 15px;
    position: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.passwordInput{
    padding: 8px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    height: auto;
    font-size: medium;
}

.passwordIcon{
    border-radius: 3px;
    padding: 1px;
    font-size: 1.5em;
}
.passwordIcon:hover{
    cursor: pointer;
    background-color: grey;
}