.passwordDiv{
    width: 150px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 10em;
    border:1px solid black;
    padding: 1em;
    position: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.passwordInput{
    padding: 1em;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    height: auto;
}

.passwordIcon{
    font-size: 1.5em;
}
.passwordIcon:hover{
    cursor: pointer;
    background-color: darkslategray;
}